<a href="https://colab.research.google.com/github/ehgur062300/A.I/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
name = input()
age = input()

최도혁
20

In [77]:
print("이름:",name)
print("나이:",age)

이름: 최도혁
나이: 20

In [78]:
arr = {1,2,3,4,5,6,7,8,9}

In [79]:
for i in arr :
  print("-------",i,"단-------")
  for j in arr :
    print("구구단 : ",i,"*",j,"=", i*j, "입니다.")

------- 1 단-------
구구단 :  1 * 1 = 1 입니다.
구구단 :  1 * 2 = 2 입니다.
구구단 :  1 * 3 = 3 입니다.
구구단 :  1 * 4 = 4 입니다.
구구단 :  1 * 5 = 5 입니다.
구구단 :  1 * 6 = 6 입니다.
구구단 :  1 * 7 = 7 입니다.
구구단 :  1 * 8 = 8 입니다.
구구단 :  1 * 9 = 9 입니다.
------- 2 단-------
구구단 :  2 * 1 = 2 입니다.
구구단 :  2 * 2 = 4 입니다.
구구단 :  2 * 3 = 6 입니다.
구구단 :  2 * 4 = 8 입니다.
구구단 :  2 * 5 = 10 입니다.
구구단 :  2 * 6 = 12 입니다.
구구단 :  2 * 7 = 14 입니다.
구구단 :  2 * 8 = 16 입니다.
구구단 :  2 * 9 = 18 입니다.
------- 3 단-------
구구단 :  3 * 1 = 3 입니다.
구구단 :  3 * 2 = 6 입니다.
구구단 :  3 * 3 = 9 입니다.
구구단 :  3 * 4 = 12 입니다.
구구단 :  3 * 5 = 15 입니다.
구구단 :  3 * 6 = 18 입니다.
구구단 :  3 * 7 = 21 입니다.
구구단 :  3 * 8 = 24 입니다.
구구단 :  3 * 9 = 27 입니다.
------- 4 단-------
구구단 :  4 * 1 = 4 입니다.
구구단 :  4 * 2 = 8 입니다.
구구단 :  4 * 3 = 12 입니다.
구구단 :  4 * 4 = 16 입니다.
구구단 :  4 * 5 = 20 입니다.
구구단 :  4 * 6 = 24 입니다.
구구단 :  4 * 7 = 28 입니다.
구구단 :  4 * 8 = 32 입니다.
구구단 :  4 * 9 = 36 입니다.
------- 5 단-------
구구단 :  5 * 1 = 5 입니다.
구구단 :  5 * 2 = 10 입니다.
구구단 :  5 * 3 = 15 입니다.
구구단 :  5 * 4 = 20 입니다.
구구단 :  5 * 5 = 25 입니다.
구구단 :  5 * 6 = 30 입니다.
구구단 :  5 * 7 = 35 입니다.
구구단 :  5 * 8 = 40 입니다.
구구단 :  5 * 9 = 45 입니다.
------- 6 단-------
구구단 :  6 * 1 = 6 입니다.
구구단 :  6 * 2 = 12 입니다.
구구단 :  6 * 3 = 18 입니다.
구구단 :  6 * 4 = 24 입니다.
구구단 :  6 * 5 = 30 입니다.
구구단 :  6 * 6 = 36 입니다.
구구단 :  6 * 7 = 42 입니다.
구구단 :  6 * 8 = 48 입니다.
구구단 :  6 * 9 = 54 입니다.
------- 7 단-------
구구단 :  7 * 1 = 7 입니다.
구구단 :  7 * 2 = 14 입니다.
구구단 :  7 * 3 = 21 입니다.
구구단 :  7 * 4 = 28 입니다.
구구단 :  7 * 5 = 35 입니다.
구구단 :  7 * 6 = 42 입니다.
구구단 :  7 * 7 = 49 입니다.
구구단 :  7 * 8 = 56 입니다.
구구단 :  7 * 9 = 63 입니다.
------- 8 단-------
구구단 :  8 * 1 = 8 입니다.
구구단 :  8 * 2 = 16 입니다.
구구단 :  8 * 3 = 24 입니다.
구구단 :  8 * 4 = 32 입니다.
구구단 :  8 * 5 = 40 입니다.
구구단 :  8 * 6 = 48 입니다.
구구단 :  8 * 7 = 56 입니다.
구구단 :  8 * 8 = 64 입니다.
구구단 :  8 * 9 = 72 입니다.
------- 9 단-------
구구단 :  9 * 1 = 9 입니다.
구구단 :  9 * 2 = 18 입니다.
구구단 :  9 * 3 = 27 입니다.
구구단 :  9 * 4 = 36 입니다.
구구단 :  9 * 5 = 45 입니다.
구구단 :  9 * 6 = 54 입니다.
구구단 :  9 * 7 = 63 입니다.
구구단 :  9 * 8 = 72 입니다.
구구단 :  9 * 9 = 81 입니다.

In [80]:
exam = {60,80,95,69,90,81,80,69,79,66,70,90,96}
list(exam)
score = "F"

In [81]:
for i in exam :
  if(i<=100 and i > 90) :
    score = "A"
  elif(i<=90 and i > 80) :
    score = "B"
  elif(i<=80 and i > 70) :
    score = "C"
  elif(i<=70 and i > 60) :
    score = "D"
  else :
    score = "F"
  print("당신의 성적은",i,"이므로 점수는",score,"입니다.")

당신의 성적은 96 이므로 점수는 A 입니다.
당신의 성적은 66 이므로 점수는 D 입니다.
당신의 성적은 69 이므로 점수는 D 입니다.
당신의 성적은 70 이므로 점수는 D 입니다.
당신의 성적은 79 이므로 점수는 C 입니다.
당신의 성적은 80 이므로 점수는 C 입니다.
당신의 성적은 81 이므로 점수는 B 입니다.
당신의 성적은 90 이므로 점수는 B 입니다.
당신의 성적은 60 이므로 점수는 F 입니다.
당신의 성적은 95 이므로 점수는 A 입니다.

In [82]:
a = {1,2,3,4,5,6,7,8,9,10}
sum = 0
for i in a :
  sum = sum+i
  print("i의 값:",i,"합계:",sum)

i의 값: 1 합계: 1
i의 값: 2 합계: 3
i의 값: 3 합계: 6
i의 값: 4 합계: 10
i의 값: 5 합계: 15
i의 값: 6 합계: 21
i의 값: 7 합계: 28
i의 값: 8 합계: 36
i의 값: 9 합계: 45
i의 값: 10 합계: 55

In [84]:
price = int(input())
print("금액 입력:",price)

if(price >= 10000):
  print("구매가능")

else :
  print("구매 불가능")

10002
금액 입력: 10002
구매가능

In [ ]:
https://colab.research.google.com/drive/1_LlyqMpgWkm8NWNNLDPxwNVvh1KRbp7U?usp=sharing